[2016-04-26 04:53] philips opened #4 "remove zookeeper dependency"
zookeeper is used internally as a sort of workflow controller for when services start and to fetch configuration. This is a carry over from the kolla project that developed the containerized images of the OpenStack components.

Nearly all of this can be replaced by Kubernetes [ConfigMaps](http://kubernetes.io/docs/user-guide/configmap/) or Kubernetes [Secrets](http://kubernetes.io/docs/user-guide/

[2016-04-26 05:01] philips opened #5 "Open Source Readiness"
In order to make this repo open source we need to do a number of fundamental things:

- [x] Document all known issues as GitHub issues
- [x] Move things we know we want to fix immediately as P0 and add to v0.1.0 milestone
- [x] Write a README that accomplishes the following:
  - [x] Introduces the project with diagrams/videos
  - [x] Describes the necessary configuration of Kubernetes
  - [x] Prov

[2016-04-26 11:52] PiotrProkop opened #6 "Prepare new docker images."
Currently images are very big and not always well prepared e.g. various users issues. This should be paired with  [remove zookeeper dependency] (https://github.com/stackanetes/stackanetes/issues/4) because some of the logic and scripts in kolla-images will become obsolete.

[2016-04-26 11:56] PiotrProkop opened #7 "Move hardcoded service list."
In kolla-k8s/service.py there is hardcoded lists of services to be build automatically. Make it configurable in config files.

[2016-04-26 12:00] PiotrProkop opened #8 "Remove RunAsUser: 0 in nova-compute.yml"
This option requires kubernetes-apiserver to be run with disabled SecurityContextDeny.

[2016-04-26 12:11] PiotrProkop opened #9 "Remove hardcoded path to resolv.conf in nova-compute.yml and network-node.yml."
Currently compute-nodes and network-nodes resolv.conf with cluster dns address is mounted from hardcoded local path.

[2016-04-26 13:07] DTadrzak opened #10 "Remove dependence on existing path /var/lib/nova /var/lib/libvirt on host."
Currently, manifests require  created dirs  like /var/lib/nova and /var/lib/libvirt on hosts to run a pod.

[2016-04-26 13:14] DTadrzak opened #11 "Change horizon backend to memcached."
Change horizon backend to use memchaced instead of file caching.

[2016-05-05 01:52] polvi opened #14 "Remove zookeeper dependency and use k8s ConfigMaps"
Currently all configuration is proxied through zookeeper. This is legacy code forked from kolla-openstack and is not needed in kubernetes. It adds additional complexity at very little gain.

This will create a rather dramatic change to the project, eliminating the need for most of the code in kolla-k8s command line tool.

[2016-05-05 01:56] polvi opened #15 "path hacks on OSX"
When installed on OSX, the services get installed to locations such as:

[code]

This results in needed hacks like:

[code]

[2016-05-05 01:59] polvi opened #16 "eliminate host based hacks"
Currently an admin must login to the machine to create `/var/lib/nova` `/var/lib/libvirt` and `/home/core/resolv.conf`. We need to figure out how we are going to kill this. It might be most reasonable to approach this once we have nova-compute in the state we want it in.

[2016-05-05 16:37] #14 closed, assigned to nobody

[2016-05-10 14:30] ss7pro commented on #16
K8S 1.3 will have init containers, which can resolve this issue.

[2016-05-10 19:53] v1k0d3n commented on #15
I'm getting the following error...

[code]

[2016-05-11 01:36] v1k0d3n commented on #15
@polvi what are your thoughts about handing the deployment of stackanetes with a deployment container? this way all the dependancies will be included, `kubectl` config could be fetched, and deployment tasks could be parameters used by the container. thoughts?

[2016-05-11 05:51] 1106944911 opened #22 "sudo -E pip install -r requirements.txt error"
HI ，want to use stackanetes on ubuntu 15.04 viv OS。 It occur to errors, when exec  sudo -E pip install -r requirements.txt , anyone help me ?

building 'netifaces' extension
    x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fno-strict-aliasing -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-security -fPIC -DNETIFACES_VERSION=0.10.4 -DHAVE_

[2016-05-11 13:01] PiotrProkop commented on #22
assigning @DTadrzak

[2016-05-11 13:11] DTadrzak commented on #22
Install following packages:

- python-dev
- python-netifaces

[2016-05-11 13:50] v1k0d3n commented on #22
@DTadrzak i suggested in #16 a container that could take care of the deployment. do you have any thoughts or opinions on this? I would imagine that _most_ deployment hosts would have docker or that users would have access to a docker host that could be leveraged. this could be a good control point for smooth deployments with less issues.

[2016-05-11 13:56] PiotrProkop commented on #22
This [pull request](https://github.com/stackanetes/stackanetes/pull/20) tries to address this issue but it is still WIP.

[2016-05-11 15:25] v1k0d3n commented on #22
@PiotrProkop i missed it! perfect :)

[2016-05-11 15:26] v1k0d3n commented on #15
scratch that! i see PR #20 :)

[2016-05-12 00:42] 1106944911 commented on #22
thank you, the problem have been  solved ， but have another errors,maybe becaused by my network environment @DTadrzak

[2016-05-12 01:15] 1106944911 commented on #22
python setup.py build && python setup.py install --cert ~/proxy.crt  @DTadrzak
ERROR:root:Error parsing
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pbr/core.py", line 111, in pbr
    attrs = util.cfg_to_args(path, dist.script_args)
  File "/usr/local/lib/python2.7/dist-packages/pbr/util.py", line 246, in cfg_to_args
    pbr.hooks.setup_hook(config)
  File "/us

[2016-05-12 08:51] DTadrzak commented on #22
Can you try to run stackanetes in Docker?
docker run --net=host -it ubuntu bash

[2016-05-13 01:28] 1106944911 commented on #22
Okay ，thank you

[2016-05-13 12:30] ant31 opened #25 "Machine requirements ?"
Is it possible to document minimum memory / cpu per node too?

[2016-05-13 14:05] alekssaul commented on #25
Hi @ant31 ,

I don't think we've done testing around resource requirements. As a general idea; in my lab, node with persistent-control label set to ~16 GB ram, node with non-persistent-control label set to ~ 64 GB and compute node is set to ~ 72 GB ram.

[2016-05-13 14:44] alekssaul commented on #15
@polvi @v1k0d3n : There has been some work on #23 to facilitate Openstack install via deployment container. Deployment container seem to work well in few runs we've tested. Deployment container should have all the kolla-k8s requirements in it. Users on any platform with kubectl should be able to just use deployer container to bootstrap openstack on k8s.

Do you think #23 satisfies this issue for n

[2016-05-13 14:45] philips commented on #15
Yes, lets move as much on cluster as possible. Closing this out.

[2016-05-13 14:46] philips commented on #15
Reopening since #23 isn't merged into master yet.

[2016-05-15 00:19] ant31 opened #27 "Stackanetes packaged with kpm"
Hi

I'm working on a package manager for kubernetes: [kpm](https://github.com/kubespray/kpm)

I've packaged stackanetes with kpm:
https://github.com/kubespray/kpm-stackanetes

Each component has it's own package and version, which help to iterate and maintain them.
A package named [stackanetes/stackanetes](https://kpm.kubespray.io/#/package/stackanetes/stackanetes), regroup all the dependencies.

[2016-05-15 14:54] DTadrzak commented on #15
#23 has been Merged, so i close it

[2016-05-15 14:54] #15 closed

[2016-05-15 15:00] DTadrzak commented on #16
I think that issue is covered by #9 and #10

[2016-05-15 15:02] DTadrzak commented on #22
I'm glad it helped.

[2016-05-15 15:02] #22 closed

[2016-05-16 10:25] ant31 commented on #10
This dirs are created on each nodes by the daemonset `network-node`

[code]

I tryied to deploy stackanetes without manually create this directories and they have been created as expected.

I think this ticket can be closed

[2016-05-16 10:32] ant31 commented on #9
We can create a configmap instead of using hostpath.

[configmap](https://github.com/kubespray/kpm-stackanetes/blob/master/configuration/templates/resolv-configmap.yaml)
[code]

and then use this configmap:

[network-node-ds.yaml](https://github.com/kubespray/kpm-stackanetes/blob/master/network/templates/network-node-ds.yaml):
[code]

[2016-05-16 10:40] ant31 opened #28 "Mono-node and labels"
I'm trying to reduce requirements to deploy stackanetes for dev env.

To deploy everything on a single node, I propose a different labeling:
instead of  using a label `app=xxxx`, we can use `xxxx=yes`

It's still possible to deploy on 3-nodes:
[code]

But also on 1 node:
[code]

[2016-05-16 10:45] DTadrzak commented on #10
True.

[2016-05-16 10:45] #10 closed

[2016-05-16 10:52] DTadrzak commented on #28
I agree. We have to change the manner of node labeling.

BTW, currently we cannot run network-node and compute-node one the same node.

[2016-05-16 11:25] PiotrProkop commented on #9
Yeah, thanks :+1:

[2016-05-16 11:52] ant31 commented on #28
I don't know to much about openstack itself, can you quickly explain why ?

Do you think there is a way to make them happy together?

[2016-05-16 12:00] ant31 commented on #9
I've just noticed that we can't map a single file in an existing directory, it will mount the volume.
So I mount the configmap to another path that /etc, and then copy the `resolv.conf`

[code]

It's a little bit 'hacky' but, I think less than having hardcoded path on the host, and it does't require any manual action from users.

[2016-05-16 12:06] DTadrzak commented on #28
Because both pods are running with flag (net=host) and consist of openvswitch components. You cannot have two instances of openvswitch services on same node. We are working to solve that problem.
But you are able to run all in one (without network-node) which allow you to deploy VM.

[2016-05-16 12:31] PiotrProkop commented on #9
I think we will use init containers in kubernetes 1.3.

[2016-05-16 15:17] ant31 commented on #27
It was quite some work to package everything. I won't be able to maintain and update it in parallel of kolla-k8s development.

I propose to discuss the switch(or not) from kolla to kpm, before that it changes to much.

[2016-05-17 15:33] ant31 commented on #9
I'm not sure that init containers will solve this issue.
I think init containers won't be able to modify the target container internal files ?

[2016-05-17 15:45] PiotrProkop commented on #9
Yeah but we can create temp file  in some directory and mount it into each container. So we will only make one "hacky" workaround not rather then 4 or 5 in each container in POD.

[2016-05-20 09:09] 1106944911 opened #29 "install error about zookeeper"
Hi all , exec "kolla-k8s --config-dir /etc/kolla-k8s run all" have some errors!!
ubuntudev@ubuntu:~/project/stackanetes$ kolla-k8s --config-dir /etc/kolla-k8s run all
s
2016-05-20 05:17:46.701 4592 WARNING kazoo.client [-] Connection dropped: socket connection error: Connection refused
2016-05-20 05:17:47.537 4592 WARNING kazoo.client [-] Connection dropped: socket connection error: Connection ref

[2016-05-21 18:39] alekssaul commented on #29
Hi, did you already run `kolla-k8s --config-dir /etc/kolla-k8s run zookeeper` ? If so are you able to see zookeeper services in kubernetes?

Zookeeper nodeport has to be setup in; /etc/kolla-k8s/kolla-k8s.conf  [zookeeper] section.

Alternatively we have a stackenetes deployer pod that you can use; https://github.com/stackanetes/stackanetes#deploy-stackanetes-via-stackanetes-deployer-pod

[2016-05-24 07:01] 1106944911 commented on #29
right, I can see zookeeper cluster in kubernetes, but run kolla-k8s --config-dir /etc/kolla-k8s run all error, Connection refused, how to configure zookeeper in /etc/kolla-k8s/kolla-k8s.conf,
thank you

[2016-05-27 11:21] dims commented on #5
@philips @DTadrzak @PiotrProkop @polvi : Looks like Kolla-Kubernetes is making good progress (https://review.openstack.org/#/q/project:^openstack/kolla-kubernetes). Is the intention of this project going to be a parallel project?

[2016-06-03 16:09] Quentin-M commented on #5
Referencing spec PR: https://review.openstack.org/#/c/304182/

[2016-07-08 06:43] mateusz-blaszkowski opened #48 "Configmaps are always created in a default namespace"
See `stackanetes/common/utils.py` in PR #42. Results in PODs not created properly:

[code]

[2016-07-11 08:42] PiotrProkop commented on #48
Is this issue resolved in #49 ? @mateusz-blaszkowski

[2016-07-11 08:47] mateusz-blaszkowski commented on #48
Yes, resolved in #49

[2016-07-11 08:47] #48 closed

[2016-07-14 16:34] SaMnCo opened #56 "Images fail to start"
Hi there,

Not sure it is related to Stackanates or to Kolla, but I always have this issue when the pod start:

[code]

This happens with both my custom Ubuntu images, but also with the Stackanetes images on quay.io. Did anyone get the same issue?
I deploy to a 1.2.4 k8s cluster, on CoreOS, with 2 minions (Intel NUC, 32GB RAM, 4 cores)

My ideas about the issue:
* I see the docker entrypoint in th

[2016-07-19 13:00] Quentin-M commented on #29
Hi,

Zookeeper isn't used anymore by Stackanetes. Closing.

[2016-07-19 13:00] #29 closed

[2016-07-21 00:49] ss7pro commented on #56
@PiotrProkop @DTadrzak

[2016-08-10 12:54] Quentin-M commented on #28
That's fixed in newer versions, as documented in the README, with the usage of `openstack-control-plane=enabled` and `openstack-compute-node=enabled`

[2016-08-10 12:54] #28 closed

[2016-09-05 12:29] ant31 commented on #27
Moved to #87

[2016-09-05 12:29] #27 closed

[2016-09-05 12:30] #25 closed

[2016-09-08 09:41] Quentin-M commented on #4
Solved.

[2016-09-08 09:41] #4 closed

[2016-09-08 09:44] Quentin-M commented on #11
Solved.

[2016-09-08 09:44] #11 closed

[2016-09-08 09:48] Quentin-M commented on #56
Hi,

Could you please give it a try with the latest deployer? Check the new README to learn more about the process. By default, the images that it will use are `quay.io/stackanetes/stackanetes-%s:barcelona`.

[2016-09-08 09:49] #56 closed

[2016-10-10 08:51] PiotrProkop commented on #7
Obsolete.Closing.

[2016-10-10 08:51] #7 closed

[2016-10-10 08:53] ss7pro commented on #6
won't fix.

[2016-10-10 08:53] #6 closed

[2016-10-10 08:55] ss7pro commented on #9
@DTadrzak we should map /etc/resolv.conf as a configMap.

[2016-10-10 11:06] DTadrzak commented on #16
Problem solved

[2016-10-10 11:06] #16 closed

[2016-10-11 22:33] Quentin-M opened #100 "Galera can never be Ready"
Hi,

I am having trouble understanding how Galera, merged recently with PR #90, can ever become Ready. The first thing that [`start.sh`](https://github.com/stackanetes/stackanetes/blob/f65c67d/mariadb/templates/configmaps/start.sh.yaml.j2#L21) does is running [`peer-finder.py`](https://github.com/stackanetes/stackanetes/blob/f65c67d/mariadb/templates/configmaps/peer-finder.py.yaml.j2), which tries

[2016-10-11 22:34] Quentin-M commented on #100
@mateusz-blaszkowski

[2016-10-12 08:29] mateusz-blaszkowski commented on #100
Hi,

Alongside with the DaemonSet, there is a new `mariadb-init` job. It's purpose is to be the first MariaDB instance that is created with the `--wsrep_new_cluster` parameter. Instances from the DaemonSet are supposed to join the cluster (started by the Job, thus the first endpoint should appear) with `--wsrep_cluster_address` parameter set to the IP address of the Job's instance. The job, after

[2016-10-12 11:14] Quentin-M commented on #100
Thanks for your answer. I didn't pay attention to the `mariadb-init` job yesterday, it was hidden in the completed objects section. It appears that the job eventually marked itself as completed even though every attempts failed. Checking at his logs today revealed that the `boostrap-db.sh` was erroneous on rkt. I pushed a small fix and it now progresses.

All pods have joined, they all show `wsrep

[2016-10-12 12:00] Quentin-M commented on #100
Noticed the `wsrep_cluster_state_uuid` is different between the pods and the init job, which explains why the size can be different.

[2016-10-20 09:23] Quentin-M commented on #100
Latest attempt worked fine with https://github.com/stackanetes/stackanetes/commit/616add869585b199815cff0a02cb481efa20c795 and https://github.com/stackanetes/stackanetes/commit/c28979e58012adb7f9e9e567d0570c619a6b0e9c. Closing.

[2016-10-20 09:23] #100 closed

[2016-10-21 09:59] #9 closed

[2016-10-21 10:00] #8 closed

[2016-10-21 10:00] #5 closed

[2016-10-24 21:43] Quentin-M opened #129 "Tag tech preview"
Now that we've got a fully working version of Stackanetes that we're promoting at OpenStack Summit Barcelona under the denomination of "Tech Preview", we should the first proper release. We should probably number this version, that we'd use to recognize:
- kpm packages
- container images
- GitHub release

The change log should at least mention all the currently supported features / projects, conta

[2016-10-25 11:12] ss7pro commented on #129
@Quentin-M Hey, Ironic would not make it into tech release. It needs more testing.

[2016-10-26 09:16] Quentin-M opened #134 "Upstream image creation process"
Hi,

Currently, the images we're using are built and maintained by ourselves, internally. The feedbacks we've been receiving lately express the need of upstreaming the creation process. This would allow users/companies to easily create their own images or customize images based on ours, which may be required for several reasons (internal patches/features, branding, different version, etc). I do be

[2016-11-13 16:06] ptzool opened #137 "Called Process Error"
Hi,

I tried to install stackanetes to a coreos cluster but I got the following error message. What did I do wrong?

[code]

[2016-11-13 20:34] Quentin-M commented on #137
Hi there,

I believe that the packages on the public repository were out of date. I just updated them based on _master_. Could you please try again?

[2016-11-13 23:04] ptzool commented on #137
Hi,

Same error. :(

[2016-11-14 01:32] Quentin-M commented on #137
The error means that _kubectl_ failed to create the resource. However, the output isn't clear and it isn't straight-forward to determine which manifest exactly isn't accepted and for which reason. It is a feedback I've given few weeks ago but it apparently never made it upstream. Ideally, _kpm_ would show the guilty file and the reason. I just created an issue () and I'll see what I can do about i

[2016-11-14 16:00] ptzool commented on #137
Hi,

I reinstalled the cluster, and it works. I think I made a mistake.. Sorry.

[2016-11-14 16:00] #137 closed

[2016-11-14 16:19] Quentin-M commented on #137
I'm glad it worked out, have a nice day!

[2016-11-21 14:40] Quentin-M opened #140 "Improve resource utilization on Compute nodes"
Stackanetes enables operators to run OpenStack as any other applications on top of Kubernetes. As such, OpenStack's services run alongside mixed workloads, potentially owned by various tenants. For fairness and in order to guarantee that the orchestrator's scheduler can make knowledgeable decisions, it is crucial to have the ability to arbitrarily define, reserve and limit OpenStack's resource uti

[2016-11-21 14:49] DTadrzak commented on #140
Why cannot we run nova-compute, nova-libvirt and three openvswitch processes as a single rkt-lkvm pod?

[2016-11-21 15:52] Quentin-M commented on #140
@DTadrzak I am not familiar enough with the resource reporting when using the _lkvm_ stage1 isolation layer but I believe that it won't make a difference as resource requests/limits apply to containers (stage2) directly. Regardless, the VMs would still be registered to different scopes on systemd - which will be the _lkvm_'s systemd instead of the host's systemd - and their resources won't be acco

[2016-11-24 07:42] salkin commented on #134
This would be a nice improvement.

Especially for our use case were we would like to add Heat support also to stackanetes

[2016-12-12 21:20] dougbtv opened #144 "Example deploy command failing"
The default `kpm deploy` as demonstrated in the README is failing for me, complaining about a malformed variable.

[code]

This happened with the `stackanetes/parameters.yaml` file as provided in the current head.

[code]

The yaml file is valid according to [yamllint](http://www.yamllint.com/)

Also, for what it's worth the kpm install command as shown in the readme didn't work for me either. I h

[2016-12-12 21:30] dougbtv commented on #144
Additionally, if I remove the `--variables stackanetes/parameters.yaml` I'm left with another error for a bad gateway for url `beta.kpm.sh` however I can reach that domain generally over the network with a ping.

[code]

[2016-12-14 16:38] ss7pro commented on #144
Hey, which version of kpm are you using ?

[2016-12-14 16:53] ss7pro commented on #144
Hey,

Unfortunately code in the public KPM registry is out of date. You'll need to setup your own registry:

kpm deploy coreos/kpm-registry --namespace kpm -H https://beta.kpm.sh

cd stackanetes
kpm push -H http://my-registry-address -f

and than you can deploy stackanetes with:

kpm deploy coreos/kpm-registry --namespace kpm -H http://my-registry-address

Let us know if that worked for you.

Chee

[2016-12-14 16:57] dougbtv commented on #144
Thanks ss7, I'll give it a try with my own kpm registry and let you know.

Also, just for what it's worth here's my kpm version.

[code]

[2016-12-14 17:02] ss7pro commented on #144
Hmm 0.16.1 is very old, that explains error you see :P Unfortunatley you need something much more recent, ie: https://pypi.python.org/pypi/kpm/0.21.1rc2

Cheers

[2016-12-14 21:22] dougbtv commented on #144
Thanks again for the heads up on the version!

[code]

Somehow pip kept wanting to download `0.16.1` so I downloaded the tarball and ran

[code]

Which has me winding up with:

[code]

Indeed -- that does keep it from complaining about the `--variables ...` parameter.

I'm going to try with my own kpm registry here shortly. Thanks again, appreciate the input a lot.

[2016-12-15 21:13] dougbtv commented on #144
Alright, a fair bit closer, I got kpm registry up and running locally, and I can successfully push it, but, I go to deploy and I'm getting:

[code]

Here's my process generally:

[code]

Thanks again for taking a look.

[2016-12-16 01:18] Quentin-M commented on #144
@dougbtv Can you tell if the following [patch](https://github.com/coreos/kpm/commit/192ef393df496cbee89222c96bae392893bc5012#diff-b65b21e5362a22a16e2388ddcc65b97c) is present on your kpm client? Anything in your kpm registry logs?

cc @ant31

[2016-12-16 02:05] dougbtv commented on #144
@Quentin-M thanks for taking a look, I appreciate it. It appears that patch is present, I see the added line that wasn't there previously, by checking:

[code]

Additionally here's what I've got in my kpm logs (thanks for pointing me there)... this error is apparent:

[code]

I deploy the same as above, and get the same error when using the client. And then for logs in the registry (a snippet arou

[2016-12-16 05:07] PAStheLoD commented on #144
Hello,

First you have to push the "packages" from the repo to your local kpm-registry.

[code]

[2016-12-16 11:39] ss7pro commented on #144
Guys, for me this problem looks like kpm is not really working on CentOS. @dougbtv which CentOS version are you using ?

Cheers

[2016-12-16 14:37] dougbtv commented on #144
@PAStheLoD thank you, that is helpful -- appreciate you brewing up the command for me. And hopefully when I get this ironed out I can help contribute to the docs to get that in there, too.

After pushing all the packages to the repo as suggested, when performing the `kpm deploy` I no longer see the 404 error in the kpm logs. Notably -- the deploy now takes a long time to fail (a few minutes). I do

[2016-12-16 15:28] PAStheLoD commented on #144
Try building kpm v0.21.2 from the repo.

With that the deploy succeeded for me. (I mean exited without error, the deployments got created on the kube cluster, then day turned to night instantly and the horrors came, oh the horrors. So, for some reason a lot of deployed things just failed with Error, and no termination log or any indication of why the pod is failed.)

[2016-12-16 15:42] ant31 commented on #144
Hi,
I think it's the server-side generation that take too much time or resources.
In later versions the generation is client-side and shows immediatly some outputs.
I'm going to upgrade the default client-version and  the api on beta.kpm.sh.

Also the connection seems aborted, can you check the gunicorn --timeout in the deployment command?

[2016-12-16 15:45] ss7pro commented on #144
Ok, folks :) We figured out what's wrong :P It looks like etcd deployment for kpm-registry is brroken, etcd service aggregating three instances is not being created. @dougbtv Can you give me output of kubectl get svc ?

[2016-12-16 15:49] dougbtv commented on #144
Just an fyi that after updating to v0.21.2 I'm having way better luck, installed like:

[code]

And now deploy is looking like:

[code]

(I haven't let it finish yet)

@ss7pro nice finding! so.... here's what kubectl get svc looks like in the kpm namespace (e.g. for the registry...)

[code]

[2016-12-16 15:50] ss7pro commented on #144
@dougbtv So now everything is fine, deployment should succeed !

[2016-12-16 16:15] dougbtv commented on #144
It looks like the kpm deployment succeeded, excellent! So that's great news. There's a few pods that are in error, but, I'm going to guess it's a configuration issue from not having done much change to `stackanetes/parameters.yaml`. So I wanna check that out and see if I can have the pods running.

Awesomeness, thank you for the help on the deploY!!

[2016-12-16 16:16] ss7pro commented on #144
@dougbtv can you do kubectl logs pod-name-in-error and show us output here ?

[2016-12-16 16:21] dougbtv commented on #144
Looks like it's mariadb-init that's failing with:

[code]

[2016-12-16 16:28] ss7pro commented on #144
@dougbtv This is really bad, it means that https://github.com/stackanetes/stackanetes/blob/master/mariadb/templates/configmaps/replicas.py.yaml.j2 is unable to access kubernets API. It tries to query:

    URL = ('https://kubernetes.default.svc.{{ network.dns.kubernetes_domain }}/apis/extensions/v1beta1/daemonsets')

to figure out desired number of galera instances. To access kubernetes api it use

[2016-12-16 16:32] ss7pro commented on #144
@dougbtv I can confirm that i can reprocude this problem on k8s 1.5 :(

[2016-12-16 16:33] dougbtv commented on #144
Awww, bummer on it still on k8s 1.5 too. I'm running k8s 1.3.0.

Specifically...

[code]

I also entered the container and saw the url at the top of the python script there and tried to curl it, again with a 403 error.

[2016-12-16 16:35] ss7pro commented on #144
@dougbtv  Can you execute them from the container:

KUBE_TOKEN=$(</var/run/secrets/kubernetes.io/serviceaccount/token)
curl -sSk -H "Authorization: Bearer $KUBE_TOKEN" https://kubernetes.default.svc.cluster.local/apis/extensions/v1beta1/daemonsets -k --verbose

[2016-12-16 16:39] ss7pro commented on #144
Check this again and on my 1.5 it works, and confirmed that it works on my 1.3 cluster as well.

[2016-12-16 16:44] dougbtv commented on #144
Here's what I've got looking at that...

[code]

[2016-12-16 16:45] dougbtv commented on #144
Ahhhh, maybe I need to grant some access to `system:anonymous`, huh? I'm going to look into that.

[2016-12-16 16:46] ss7pro commented on #144
@dougbtv Yes, we operate on a default settings for authorization in kubernetes, where serviceaccount token can interact with API.

[2016-12-16 16:47] dougbtv commented on #144
Awesome, I'm about to enter a meeting and eat some lunch. I'll come back to this a little later, but, that's a great direction for me to look in. Also -- just wanted to make sure i say "thank you!!!" a ton for helping me out here, I appreciate it greatly.

[2016-12-17 00:31] dougbtv commented on #144
I wound up removing the pods and deploying again. I'm having trouble on subsequent deploys somehow, I'm getting:

[code]

Oddly enough on multiple attempts it will fail on different deployments (this time on keystone, but previously on glance [twice] and nova).

Here's my entire log:

[code]

[2016-12-17 10:53] ant31 commented on #144
@dougbtv in /tmp/stackanetes you should see all expanded kubernetes  manifest.

You can try to `kubectl create -f` the one that failed

[2016-12-19 00:51] dougbtv commented on #144
Thanks ant31 -- in my case doing a `rm -Rf /tmp/stackanetes` before redeploying works wonders and prevents the error from re-occurring.

I was able to fix up the k8s api access to allow the service account to properly access, and a lot more seems to be chugging along.

Currently, some pods are failing with complaints that look like they can't access mariadb, and I don't see any other maria db pods

[2016-12-19 10:12] ss7pro commented on #144
@dougbtv You need to enable hostPath volumes, https://docs.openshift.org/latest/admin_guide/manage_scc.html#use-the-hostpath-volume-plugin

You will also need adjust scc (security context constraints) to allow:

hostPid, hostNetwork, privileged, root in containers, allow USER from Dockerfile, all is documented here:

https://docs.openshift.org/latest/admin_guide/manage_scc.html#how-do-i

Sorry for

[2016-12-19 13:57] dougbtv commented on #144
Thanks for the pointers, and links to the docs, I appreciate it!

Also -- no need for apologies, I'm hoping to come out the other end with some documentation to share on how to get it all spun up on OpenShift, taking a lot of notes as I go along. Again, have appreciated the help here. Going to give it some more attention here hopefully later this morning or afternoon.

[2016-12-21 15:24] dougbtv commented on #144
Alright, feeling like I'm fairly close at this point... I created a custom scc and mariadb (and a lot more) comes up very nicely. I've also taken to memorializing my steps so far in an [ansible playbook that I have available here on github](https://github.com/dougbtv/openshift-stackanetes).

I'm stuck with 3 pods (neutron-openvswitch [with openvswitch-agent container failing], nova-libvirt, and no

[2016-12-21 15:43] ss7pro commented on #144
It looks like that minion_interface_name you provoded in parameters.yaml is not found on this node. Can you check that ?

[2016-12-21 15:44] PiotrProkop commented on #144
HI,

this error came from here https://github.com/stackanetes/kubernetes-entrypoint/blob/master/util/util.go#L17. It means that kubernetes-entrypoint cannon find interface, which you provided in INTERFACE_NAME environment variable.

[2016-12-21 15:47] PiotrProkop commented on #144
What value you have in here :
https://github.com/stackanetes/stackanetes/blob/master/stackanetes/parameters.yaml#L17 ?

[2016-12-21 15:57] dougbtv commented on #144
@PiotrProkop and @ss7pro thank you so much!! Thank you guys!!! I set `minion_interface_name` to the primary interface on the (single) node that I have, and.... voila!!! Everything is up and running.... I'm very happy -- what an amazing accomplishment that you guys have OpenStack running on k8s like this, I'm impressed with your work.

I'm going to write up some documentation on stackanetes on open

[2016-12-21 16:17] ss7pro commented on #144
Good  happy to hear that !

[2016-12-21 16:17] #144 closed

[2016-12-21 19:04] Quentin-M commented on #144
Thank you!

[2017-01-01 20:49] v1k0d3n commented on #134
@Quentin-M are you guys any closer to this? we're very much interested.

[2017-01-09 13:34] dougbtv commented on #144
Just wanted to give you guys a quick update that I went ahead and formalized what I learned here in order to get Stackanetes working on OpenShift.

First off, I created this project, a method of spinning up Stackanetes on openshift using Ansible, openshift-stackanetes: https://github.com/dougbtv/openshift-stackanetes

And I also went and documented some details about how that works here at my blog

[2017-01-10 01:55] Quentin-M commented on #144
@dougbtv Thank you for the blog post, it is indeed valuable information / feedback! We are looking forward to improving support for OpenStack on Kubernetes / OpenShift and significantly help the community out there.

[2017-01-10 02:10] dougbtv commented on #144
Thanks @QuentinM ! Feel free to reach out, I'm excited to see it run on
OpenShift, and happy to contribute/collaborate there where I can.

On Mon, Jan 9, 2017, 8:55 PM Quentin Machu <notifications@github.com> wrote:

[2017-02-22 21:21] Helloworld1707 opened #152 "Mariadb-init is not getting completed"
Hi,
I'm trying to install stackanetes , and while deploying I noticed that the mariadb-init-xxxx is struck while initializing, So that the actual 3 instances of DB containers "mariadb-xxxx" are not getting created.
please help ...

[code]

[2017-02-23 14:24] PAStheLoD commented on #152
Hello,

just a quick meta-comment, please use backticks around log/code text, so it'll be easier to read (and markdown won't parse and style it), like this:

\```
code
\```

becomes

[code]

[2017-02-23 15:17] ss7pro commented on #152
@Helloworld1707 It looks that you're missing appropriate labels on cluster nodes, can you show output of:

kubectl get nodes --show-labels

Cheers

[2017-02-23 19:32] Helloworld1707 commented on #152
kubectl get nodes --show-labels
NAME      STATUS                     AGE       LABELS
kube-1     Ready,SchedulingDisabled   1d        beta.kubernetes.io/arch=amd64,beta.kubernetes.io/os=linux,kubernetes.io/hostname=kube-1
kube-2     Ready,SchedulingDisabled   1d        beta.kubernetes.io/arch=amd64,beta.kubernetes.io/os=linux,kubernetes.io/hostname=kube-2
kube-5     Ready                      1d

[2017-02-24 21:51] Helloworld1707 commented on #152
can somebody help me here ?

[2017-02-27 17:28] Helloworld1707 commented on #152
Can somebody comment on
++ python /tmp/replicas.py
+ REPLICAS=0

and is this  the reason for this problem  ?

[2017-02-27 19:52] Quentin-M commented on #152
Hi,

There is definitely something odd here. Could you please describe the `mariadb` DaemonSet, as well as its pods? There should be 3 desired replicas described there, and therefore the `REPLICAS` should have 3 as its value.

[2017-02-27 21:40] Helloworld1707 commented on #152
Hi ,

Here is the O/P

kubectl describe  DaemonSet mariadb  --namespace=openstack
Name:           mariadb
Image(s):       quay.io/stackanetes/stackanetes-mariadb:newton
Selector:       galera=enabled
Node-Selector:  openstack-control-plane=enabled
Labels:         app=mariadb
                galera=enabled
Desired Number of Nodes Scheduled: 0
Current Number of Nodes Scheduled: 0
Number of Nodes Mis

[2017-02-28 14:38] gkatsaros commented on #144
Hello,
I am having the same error mentioned previously on mariadb:

    'http', request, response, code, msg, hdrs)
  File "/usr/lib/python2.7/urllib2.py", line 475, in error
    return self._call_chain(*args)
  File "/usr/lib/python2.7/urllib2.py", line 409, in _call_chain
    result = func(*args)
  File "/usr/lib/python2.7/urllib2.py", line 558, in http_error_default
    raise HTTPError(req.get_

[2017-02-28 19:18] Quentin-M commented on #144
@gkatsaros You simply have RBAC enabled and therefore needs to add some permissions:

[code]

[2017-02-28 22:22] Helloworld1707 commented on #152
Hi Quentin-M,

Will you able to help me here ?

[2017-02-28 22:28] Quentin-M commented on #140
In order to let OpenStack think that the only available memory is what we define as a container limit, defining a new libvirt driver based on the existing [libvirt.LibvirtDriver](https://github.com/openstack/nova/blob/master/nova/virt/libvirt/driver.py), and overwriting `get_available_resource` is enough. The hypervisor is properly reported with the proper amount of memory and this limit is update

[2017-03-01 18:04] gkatsaros commented on #144
Hi @Quentin-M .
Thx a lot for the help. It indeed solved my previous problem and I managed to get mariadb up and running.
All of the pods seem to be working fine apart from the nova-compute pod which crashes with CrashLoopBackOff status and at the logs I see:

`Entrypoint WARNING: 2017/03/01 17:56:44 entrypoint.go:52: Resolving dependency for neutron-openvswitch failed: daemonsets.extensions "neut

[2017-03-01 23:35] Helloworld1707 commented on #152
Hi ,
Can somebody suggest me here ?

[2017-03-02 02:23] Quentin-M commented on #144
@gkatsaros I'd look at the logs for any containers for the `nova-post` initialization job. It must complete.

[2017-03-02 02:33] Quentin-M commented on #152
The issue is clear. No MariaDB instance can be started due to a policy on your Kubernetes cluster.

`Error creating: pods "" is forbidden: pod.Spec.SecurityContext.RunAsUser is forbidden`

First, you need `--allow-privileged=true` (as documented) and then, you need a lenient pod admission control policy. There is no way to run OpenStack without having a pretty wide range of permissions - how would

[2017-03-02 07:59] Quentin-M commented on #140
Here's what we want:
- Terminating a Nova pod does not terminate the VMs
  - Already achieved by the usage of the `preStop`/`postStart` hooks
- Scheduling a new VM that would exceed the set limit is not possible
  - Achieved by adding memory requests and by tweaking `get_available_resource`
- The memory usage that is reported for the Nova pod contains both the memory used by `nova-compute` and the

[2017-03-02 16:55] Quentin-M commented on #140
/cc @brancz

[2017-03-02 16:56] Quentin-M commented on #140
/cc @lucab

[2017-03-02 18:55] gkatsaros commented on #144
@Quentin-M
The nova-post job seems to complete.
The nova compute container shows the following error:
'Events:
  FirstSeen     LastSeen        Count   From                                            SubObjectPath                   Type            Reason                  Message
  ---------     --------        -----   ----                                            -------------                   -

[2017-03-03 21:35] Quentin-M commented on #144
Hmm ... I installed Stackanetes on Tectonic no later than yesterday without seeing any issues.

nova-compute's [PostStart script](https://github.com/stackanetes/stackanetes/blob/master/nova/templates/configmaps/hooks.py.yaml.j2) tries to talk to keystone-api/nova-api to enable its hypervisor. The script failing might suggest that the Keystone API or the Nova API are not available? Is there anythin

[2017-03-06 16:35] Merlin83b commented on #152
I came across the same issue, running on a CoreOS bare metal Kubernetes installation.  Expanding on the post from @Quentin-M above and after some more Googling, I ended up removing `SecurityContextDeny` from the `/etc/kubernetes/manifests/kube-apiserver.yaml` file.  Note that this is no longer specified in the current version of the [CoreOS kubernetes installation instructions](https://coreos.com/

[2017-03-06 16:42] Merlin83b opened #154 "glance-post and nova-post not completing"
I have an almost complete stackanetes installation up and running.  Unfortunately the `glance-post` and `nova-post` jobs are erroring in similar ways.  As I understand it, all the other services use `.openstack` on the end of their DNS names.  These two don't appear to be doing that.  Logs from `glance-post`:

[code]

Running a shall on another container inside the same kubernetes stack, we can se

[2017-03-06 20:02] Quentin-M commented on #154
Hey.

Stackanetes pods typically come with the following `resolv.conf` (except a few exceptions), where `default` is the namespace where the pods are deployed and `cluster.local` is the domain of the Kubernetes cluster.

[code]

The full DNS name of the `keystone-api` service in Kubernetes, when deployed in the `default` namespace, is `keystone-api.default.svc.cluster.local`. Given the search doma

[2017-03-07 09:42] Merlin83b commented on #154
Aha, thanks for the detail on the namespaces and DNS resolution, that makes sense.

The `openstack` namespace is straight from the `kpm deploy` instructions in the stackanetes `README.md` file.

The following seems to indicate things should be working, or at least that DNS resolution is working:

[code]

[code]
[code]

Anything else I should try?

[2017-03-07 12:52] Merlin83b commented on #154
After more investigation I found that `mariadb-init` hadn't completed and seemed to be hung.  I ran `kpm remove ...` (and had to resort to `docker stop ...` to get `mariadb-init` to go away!) and then re-ran `kpm deploy ...` and all is now up and running, thanks :)

[2017-03-07 12:52] #154 closed

[2017-03-07 21:23] Quentin-M commented on #154
Got it. Glad you figured it out. Next time, don't hesitate to pulls the logs so we can understand the issue with the mariadb-init job if any and fix it! Have a nice one!

[2017-03-08 22:16] josefhernandez opened #155 "mariadb access denied"
Hi,

I'm trying to bootstack stackanetes and getting and error in the mariadb pod.
Find attached the log

[code]

any tip ?

[2017-03-14 15:18] #140 closed

[2017-03-15 09:03] ss7pro commented on #155
Can you try to rm -rf  /var/lib/mysql-openstack-mariadb ?

[2017-03-15 10:12] josefhernandez commented on #155
That solved the problem with mariadb.
Now i'm having problems with the keystone-api

kubectl logs --namespace=openstack keystone-api-799326559-x6c5g

[code]

[2017-03-15 10:26] ss7pro commented on #155
@josefhernandez Could you just delete keystone pod, and check if that helps ?

[2017-03-15 10:37] josefhernandez commented on #155
I've deleted the pod and still the same
is the Dockerfile of this pod opensource? so i can dig into the issue ...

[2017-03-15 10:56] ss7pro commented on #155
@josefhernandez can you show us output of: kubectl describe pod {{keystone_pod_name}}

[2017-03-15 11:05] josefhernandez commented on #155
@ss7pro sure
command: kubectl describe po/keystone-api-799326559-vw3bx --namespace=openstack

output:
[code]

[2017-03-16 11:20] ss7pro commented on #155
@josefhernandez Can you do quay.io/stackanetes/stackanetes-keystone-api:newton and show us output ?

BTW: Are you on slack (ie: kubernetes one) ?

[2017-03-16 11:41] josefhernandez commented on #155
@ss7pro Sorry don't understand. Browse the url ?
Yes, i'm on kubernetes slack user @isthari

[2017-03-16 11:45] ss7pro commented on #155
@josefhernandez  Sorry I meant: kubectl -n openstack get configmap keystone-wsgikeystone -o yaml

[2017-03-16 11:53] josefhernandez commented on #155
@ss7pro output of  kubectl -n openstack get configmap keystone-wsgikeystone -o yaml

[code]

[2017-03-16 16:15] ss7pro commented on #155
After talking with @josefhernandez it looks that this issue was related to apparmor. Waiting for confirmation.

[2017-03-17 14:38] ss7pro commented on #155
@josefhernandez Did disabling apparmor helped ?

[2017-03-17 15:58] josefhernandez commented on #155
@ss7pro I will not be able to use that cluster until the end of next week

[2017-03-18 08:51] gkatsaros opened #156 "No external network access to the instances"
Hi,
I have installed Stackanetes over a Tectonic Cluster and all look fine.
However, I cannot get the external (provider) network working:
I have defined an external network with the physnet1 flat network but I cannot get access from the external network to the VM instances.

Checking the ov configs I discovered that at the configs map openvswitch-ensure-configured.sh.yaml.j2 the command that actu

[2017-03-21 15:25] josefhernandez commented on #155
@ss7pro Trying the container on a fresh ubuntu 16.04.2 WITH apparmor. Everything works fine with this container.
I'll try to reinstall the cluster and try again ...

[2017-03-22 21:01] josefhernandez commented on #155
mariadb is working after rm -rf /var/lib/mysql-openstack-mariadb
keystone-api is working after installing in a fresh cluster

[2017-03-22 21:01] #155 closed

[2017-03-24 03:52] ss7pro commented on #156
Unfortunately you need to setup ezternal connectivity on your own. This action needs to happen on all openstack control plane nodes.

[2017-03-24 11:34] gkatsaros commented on #156
Is there any complication or step that I should be careful? (I tried once to add the port to th ovs bridge manually but it broke the nova and libvirt pods etc.)

Is there any relevant reference or instructions that I could follow?

Thank you in advance.

[2017-03-24 11:56] josefhernandez commented on #156
I'm stuck at this point too

[2017-03-25 22:00] ss7pro commented on #156
To help you here I'll need few more questions answered:

- Do you have spare Ethernet interface in server ?
- Does your external network is delivered using tagged vlan ?

[2017-03-25 23:14] josefhernandez commented on #156
@ss7pro In my case:
yes, 2 spare ethernet interfaces
no, but i can change it if needed

is this the same scenario for you @gkatsaros ?

[2017-03-27 07:44] gkatsaros commented on #156
Its the same for me:
2 interfaces, one used as the management for the tectonic cluster and a spare 2nd interface (which could be used for Openstack's provider network).
Traffic of the external network is based on a tagged vlan.

Thx a lot for the help.

[2017-03-27 09:55] ss7pro commented on #156
@gkatsaros @josefhernandez So folks, we would go with dedicated interface configuration:

1) ensure that there're no ip addresses assigned to interface you're going to use:
ip addr show dev $INTERFACE_NAME  | egrep 'inet\s'
2) make sure interface is up
ip link show $INTERFACE_NAME
3) add port to br-ex bridge (needs to happen from vswitchd container)
ovs-vsctl --no-wait add-port br-ex $INTERFCE_NAM

[2017-03-27 10:09] PAStheLoD commented on #156
Hello,

In theory using a setup with bonded interfaces with VLANs instead of separate NICs should work, right? (As [recommended](https://docs.openstack.org/project-deploy-guide/openstack-ansible/ocata/overview-requirements.html#network-recommendations) by the OpenStack Ansible deployment guide.) Bonding would provide link level HA+LB (LACP/802.3ad using balance-tcp mode, hopefully all via OVS.) An

[2017-03-27 15:22] josefhernandez commented on #156
@ss7pro working for me ! fully functional openstack environment

suggestion: modify parameter.yaml to include the spare interface name and modify openswitchd command to automatically add port to br-ex bridge, based on configuration

what do you thing ?

[2017-03-28 06:07] ss7pro commented on #156
@PAStheLoD Yes, this setup would work as well.

[2017-03-28 06:40] #152 closed

[2017-04-05 22:15] josefhernandez opened #158 "Job Dependency problem after update to k8s 1.6.0"
Hi,

Glance-init jobs (and others) is not starting correctly after updating k8s to 1.6.0. From the log of the pod:
[code]

After looking at the kube-apiserver audit log (enabled by hand in /etc/kubernetes/manifests/kube-apiserver.yaml). I found this errors
[code]
response = 404 => Not found

According to this k8s issue https://github.com/kubernetes/kubernetes/issues/32763, it looks like the old pa

[2017-04-07 14:11] ss7pro commented on #158
@josefhernandez At the moment stackanetes images are not supporting kubernetes above > 1.5.

You'll need to build images on your down and use the lastest kubernetes-entrypoint (which we is going to be extended to support 1.6).

[2017-04-07 14:47] ss7pro commented on #156
closing for now, pls repoen when needed again.

[2017-04-07 14:47] #156 closed

[2017-04-19 17:04] PAStheLoD commented on #134
Any chance to get a simple description of the image build process? (Are you planning to support kolla images?)

[2017-04-20 18:02] dagnymol opened #159 "404 error on kpm deploy"
Going through the install instructions on this page and I get to the point of entering

`kpm deploy kpm.sh/stackanetes/stackanetes --namespace openstack --variables stackanetes/parameters.yaml`

And I get the error:

`kpm: error: 404 Client Error: Not Found for url: https://kpm.sh/api/v1/packages/stackanetes/stackanetes/default/kpm/pull?format=json`

[2017-04-20 22:36] Quentin-M commented on #159
@ant31 Thoughts?

[2017-04-21 09:33] ant31 commented on #159
@Quentin-M can you re-push all to quay.io/stackanetes ?

[2017-04-27 20:03] Quentin-M commented on #159
@ant31 not sure how to with the new registry?

[2017-04-27 21:07] ant31 commented on #159
I'll release a new version tomorrow.

[2017-09-01 21:53] grantmiller11 opened #160 "SSL error on kpm deploy"
Trying to do a deploy and it looks like it's complaining about the SSL cert?

kpm deploy kpm.sh/stackanetes/stackanetes --namespace openstack --variables stackanetes/parameters.yaml
usage: kpm [-h]
           {inspect,show,run-server,jsonnet,logout,plugins,helm,generate,pull,deploy,list,remove,delete-package,version,exec,push,new,login,config,channel}
           ...
kpm: error:
message: 'HTTPSConn

[2018-07-13 09:41] makomatic commented on #160
Same here...
I suppose the project is dead, right?

[2018-07-13 10:17] PiotrProkop commented on #160
@makomatic  Yeah :smile:, if you want actively maintained and developed Openstack on Kubernetes use: https://github.com/openstack/openstack-helm

[2018-07-13 10:21] makomatic commented on #160
Already found it in the meantime, thx :)

[2018-07-13 10:21] pawelsocha commented on #160
@PiotrProkop can you add info about helm into Readme? :P

[2018-07-13 10:22] PiotrProkop commented on #160
Good idea, will do!

[2018-07-13 10:22] PiotrProkop commented on #160
@makomatic I have used `openstack-helm` and it works as expected